---
import AboutHeroImage from '../assets/Me2.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Cybersecurity Engineer & System Admin"
	pubDate={new Date('February 26 2026')}
	heroImage={AboutHeroImage}
>

<style>
	/* Nasconde la data e centra il testo */
	.date {
		display: none !important;
	}
</style>

<p>I'm a cybersecurity engineer with a background in System Administration and technical support, currently working in the Telco sector. I conduct penetration tests on hardware (on IoT devices and embedded systems) and software, focusing on Unix based systems. Driven by continuous learning, I publish in this Blog deep‑dive analyses, hands‑on walkthroughs and reproducible case studies that bridge theory and practice.</p>
<ul>
	<p>🛡️ Core Expertise:
		<li>Hardware & IoT Hacking: Penetration testing on embedded systems and IoT devices.</li>
		<li>Penetration Testing on Linux based systems: offensive assessments and hardening of Linux servers and appliances</li>
		<li>Penetration Testing on Android Systems: security analysis and reverse engineering of Android firmware and applications</li>
		<li>System Administration and Networking</li>
		<li>Technical Reporting: Translating exploits into clear, actionable insights.</li>
	</p>
</ul>


</Layout>
