---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>Welcome to my Personal Lab!</h3>
		
			<p>
				I’m Edoardo, a Cybersecurity Engineer with a background in System Administration and a "hardware-first" mindset. Driven by continuous learning and a hands-on approach, I focus on disassembling and testing devices to understand exactly how they work and how to uncover vulnerabilities at a low level.
				This blog is my lab. Here you’ll find hands-on penetration tests, walkthroughs, lab setups and practical guides designed for real-world environments.
			</p>
			
			<p>
				Content on this site is provided for informational and ethical use only. The author disclaims liability for any misuse. Reproducing tests against systems you do not own or for which you do not have explicit consent may be unlawful. Always obtain written authorization before performing any security assessment.	
			</p>
		</main>
		<Footer />
	</body>
</html>
